

@use '_variables';

.navigation__logo {
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
    padding: 10px;

}
.navigation {
    border-right: 1px solid rgb(65, 105, 4);
}


.natigation-top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.left {
    display: flex;
    gap: 10px;

}

.left .logo-image {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: variables.$secondary-color;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

h1{
    color: variables.$primary-color;
    font-weight: 300;
  
}



.company_name h3, h4  {
    font-family: variables.$font-type;
    font-weight: 300;
}
.company_name h3 {
    font-weight: 400;
}

.company_name h4 {
    font-weight: 100;
    color: variables.$secondary-color;
}

.navigation__logo .right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-standby  {
    color: red;
}

.navigation__Jobs h4{
    font-family: variables.$font-type;
    font-weight: 300;
    padding: 10px;
    color: rgb(197, 194, 194);
    
}
// Navigation_inbox 

.navigation_inbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.navigation_inbox .logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navigation_inbox h5 {
    background-color:  variables.$secondary-color;;
    color: variables.$primary-color; ;
    padding: 5px;
    font-weight: 100;
}

h6 {
    color: variables.$secondary-color;
    font-weight: 100;
    font-size: 0.9em;
}


.navigation__candidate  {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
    

}

.navigation__candidate  > div {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 5px;
    
    
}

.navigation__candidate  h4{

    font-family: variables.$font-type;
    font-weight: 300;
    padding: 10px;
    color: rgb(181, 178, 178);
}

.navigation__candidate  h5{
    font-weight: 100;
}

.navigation__candidate .backcolor {
    background-color: variables.$grey;
    border-radius: 5px;
    font-weight: 300;
    cursor: pointer;
    
    
  
}


// .navigation__candidate  h5:hover{
//     color:  variables.$hover-font-color;
// }

.navigation__Jobs {
    padding: 10px;
}


.navigation__candidate .backcolor:hover {
   
    // background-color: variables.$hover-color;
    // color:  variables.$hover-font-color;
    color: black;
    background-color: greenyellow;
    font-weight: 600;

}

.navigation__Jobs .backcolor .first-child {
    display: flex;
    gap: 5px;

}

.navigation__Jobs .backcolor .first-child h5 {
    font-weight: 200;
}

.navigation__Jobs .backcolor {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}


.circle {
    padding: 2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: green;
}


.second-child , .first-child{
    display: flex;
    align-items: center;
}


.icons {
    color: #0d1321;
}


.icons:hover {
    color: white;
}
.navigation-bottom  {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 
 
}

// Bottom
.box {
    align-items: end;
    width: 90%;
    height: 10vh;
    background-color: rgb(214, 214, 214);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  

}


.margin-big {
    margin-bottom: 40px;
}



.box h5 {
    font-weight: 100;
}



.nav-right a:hover {
    color: black;
    background-color: greenyellow;
    font-weight: 400;
}

