$secondary-icons-color: #CDF780;
$primary-icons-color: #d9dee1;
$primary-color: #e8e8e8;
$secondary-color: #131825;
$font-type:  "Roboto", sans-serif;
$grey : #f3f5f7;
$hover-font-color: #ffff;
$hover-color: #000000;