@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.navigation__logo {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navigation {
  border-right: 1px solid rgb(65, 105, 4);
}

.natigation-top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.left {
  display: flex;
  gap: 10px;
}

.left .logo-image {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  background-color: #131825;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #e8e8e8;
  font-weight: 300;
}

.company_name h3, h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.company_name h3 {
  font-weight: 400;
}

.company_name h4 {
  font-weight: 100;
  color: #131825;
}

.navigation__logo .right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-standby {
  color: red;
}

.navigation__Jobs h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10px;
  color: rgb(197, 194, 194);
}

.navigation_inbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navigation_inbox .logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navigation_inbox h5 {
  background-color: #131825;
  color: #e8e8e8;
  padding: 5px;
  font-weight: 100;
}

h6 {
  color: #131825;
  font-weight: 100;
  font-size: 0.9em;
}

.navigation__candidate {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

.navigation__candidate > div {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 5px;
}

.navigation__candidate h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 10px;
  color: rgb(181, 178, 178);
}

.navigation__candidate h5 {
  font-weight: 100;
}

.navigation__candidate .backcolor {
  background-color: #f3f5f7;
  border-radius: 5px;
  font-weight: 300;
  cursor: pointer;
}

.navigation__Jobs {
  padding: 10px;
}

.navigation__candidate .backcolor:hover {
  color: black;
  background-color: greenyellow;
  font-weight: 600;
}

.navigation__Jobs .backcolor .first-child {
  display: flex;
  gap: 5px;
}

.navigation__Jobs .backcolor .first-child h5 {
  font-weight: 200;
}

.navigation__Jobs .backcolor {
  display: flex;
  justify-content: space-between;
  padding-bottom: 14px;
}

.circle {
  padding: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: green;
}

.second-child, .first-child {
  display: flex;
  align-items: center;
}

.icons {
  color: #0d1321;
}

.icons:hover {
  color: white;
}

.navigation-bottom {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  align-items: end;
  width: 90%;
  height: 10vh;
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin-big {
  margin-bottom: 40px;
}

.box h5 {
  font-weight: 100;
}

.nav-right a:hover {
  color: black;
  background-color: greenyellow;
  font-weight: 400;
}

h5 {
  color: #777777;
  font-weight: 200;
  padding-right: 10px;
}

.search-box a {
  text-decoration: none;
  color: #ffffff;
  background-color: #000000;
  font-weight: 100;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3vh;
  padding: 10px;
  gap: 10px;
}

.search-box {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #8b8b8b;
  background-color: #d6d6d6;
  padding: 10px;
  font-weight: 100;
  font-size: 0.8rem;
}

.nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content__nav {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content {
  padding: 10px;
}

.search-box div {
  background-color: #b0b0b0;
}

.Initial {
  background-color: #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.Initial h1 {
  color: black;
  font-size: 1em;
}

.job-applied {
  display: flex;
  gap: 10px;
  display: flex;
  align-items: center;
  width: 12vw;
}

.jobs-posted {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.date-applied {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.date-applied h3 {
  font-weight: 300;
  font-size: 0.9em;
}

.date-applied h4 {
  font-weight: 300;
  font-size: 0.8em;
  color: rgb(164, 162, 162);
}

.job-posted-1 {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.end {
  display: flex;
  gap: 10px;
  align-items: center;
}

.end div {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 4vh;
  color: #181818;
}

.end .left {
  border: 2px solid rgb(202, 202, 202);
}

.end .right {
  background-color: #f2f2f2;
}

.end .tick {
  background-color: greenyellow;
  border: none;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h4 {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e8e8e8;
}

.container {
  display: flex;
  width: 99vw;
  height: 100%;
}

.navigation {
  flex: 20%;
  height: auto;
}

.main-content {
  flex: 80%;
  height: auto;
  color: black;
}

/*# sourceMappingURL=style.css.map */
